@font-face {
    font-family: "FB Spoiler";
    font-weight: 700;
    font-style: normal; 
    font-display: swap;
    src: url(../fonts/spoilerboldwebfont.ttf); 
   }

@font-face {
    font-family: "FB Spoiler";
    font-weight: 400;
    font-style: normal; 
    font-display: swap;
    src: url(../fonts/spoilerregularwebfont.ttf); 
   }


body {
  padding: 0;
  margin: 0 auto; 
  box-sizing: border-box;

  unicode-bidi: bidi-override;/* Меняются характеристики текста*/
  direction: rtl; /*Текст пишется справа налево*/

  font-family: "FB Spoiler";
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  color: #333333;

  background-color: #ebebeb;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 1, 0.2);
  max-width: 1920px;

  min-width: 320px;
}
  /*@media (min-width: 960px) {
    body {
      font-size: 18px;
      line-height: 30px; } }*/

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

/* ------------- Header  -------------*/
.upperNav{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background: #404040;
  height: 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.upperNav a{
  color: #ffffff ;
}

.upperNav a:hover{
  text-decoration: underline;
}

.upperFaq{
  display: flex;
  justify-content: center;
  min-width: 270px;
  margin-top: 0px; 

  position: relative;
  top: 4px;
  left: 15px;
}

.upperFaq__item{
  display: flex;
  flex-direction: row-reverse;
  margin: auto 10px;
}

.upperFaq__item_alignPP{
  position: relative;
  top: -4px;
  left: 0px;
}

.upperContacts{
  display: flex;
  min-width: 170px;
  margin: 0px 87px;
}

.upperContacts__item{
    margin: auto 15px;
}

.autorization{
  display: flex;
  min-width: 170px;
  margin-top: 0px;

  position: relative;
  top: 0px;
  right: -26px;
}

.autorization__item{
  margin: auto 2px;
  padding-top: 5px;
  padding-right: 5px;
  width: 60px;
  height: 22px;
  background-color: #f98006;
  text-align: center;
}

.mainNav{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  height: 80px;
}

.mainNav__item{
  margin: auto 40px;
  border: none;
  background-color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  outline: none;
}

.mainNav__item:hover,
.mainNav__item:active,
.mainNav__item:focus {
  background-color: #f2f2f2;
}


/*------------------Banner---------------------*/
.mainBanner{
  display: flex;
  justify-content: center;
  margin: 60px 30px;
}

.mainBanner__aside{
  width: 300px; 
  margin-right: 30px;

}

.mainBanner__header{
  color: #68ae00;
  font-size: 60px;
  font-weight: 700;
  line-height: 18px;
}

.mainBanner__info{
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.mainBanner__link1{
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
}

.mainBanner__link1 button,
.mainBanner__link2 button{
  border: none;
}

.mainBanner__button{
width: 214px;
height: 51px;
background-color: #f98006;
color: #ffffff;
font-size: 30px;
font-weight: 700;
line-height: 18px;
white-space: nowrap;
}

/*----------------Sites gallery---------------*/
.siteExamples{
  min-width: 320px;
  color: #333333;
  margin: 0 auto;

  padding-bottom: 40px;
}

.siteExamples__wrapper{
  max-width: 940px;
  margin: 0 auto;
}

.siteExamples__header{
  font-size: 48px;
  font-weight: 700;
  line-height: 18px;
}

.siteExamples__description{
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap:  23px 20px;
  max-width: 940px;
  margin: 0 auto;
}

.gallery__item_wrapper{
  width: 300px;
  height: 158px;
}
.gallery__item_wrapper img{
  width: 100%;
  /* height: 100%; */
}

/*Показываем 10 картинок вместо 15*/
@media (max-width: 400px) {
  .gallery__item_hidden{
    display: none;
}}

/*------------------Footer-------------------*/

.support{
  max-width: 1920px;
  height: 379px;
  background-image: url(../img/support_bg.png);
  background-repeat: no-repeat;
  padding-top: 70px;
}

.support__header{
  text-align: center;
  width: 230px;
  color: #68ae00;
  font-size: 48px;
  font-weight: 700;
  line-height: 18px;
  margin: 0 auto;
  padding-bottom: 9px;
}

.support__info{
  text-align: center;
  width: 520px;
  color: #333333;
  font-size: 30px;
  font-weight: 700;
  line-height: 18px;

  margin: 0 auto;
  margin-top: 25px; 
}

.support__menu{
  display: flex;
  justify-content: space-between;
  width: 850px;
  margin: 0 auto;
  margin-top: 25px;
}

.support__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #333333;
}

.support__item h3{
  font-size: 23px;
  font-weight: 700;
  line-height: 17.65px;
  margin: 0 auto;
  margin-top: 15px;
}

.support__item p{
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0 auto;
  margin-top: 2px;
}

/*-------------footerMenu-------------*/
.footerMenu{
  display: flex;
  justify-content: center;

  height: 328px;
  background-color: #43464a;
  margin: 0 auto;
  padding-top: 65px;
  padding-right: 84px;
}

.joinUs{
  width: 22.4%;
}

.clientAccount{
  width: 8.0%;
}

.ourProducts{
  width: 12.6%;
}

.clientServices{
  width: 12.6%;
}

.joinUs__header{
  color: #8cdd00;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.joinUs img{
  padding-left: 25px;
}

.clientAccount__header,
.ourProducts__header,
.clientServices__header{
  color: #8cdd00;
  font-size: 30px;
  font-weight: 700;  
}

.clientAccount a,
.ourProducts a,
.clientServices a{
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}

.clientAccount ul,
.ourProducts ul,
.clientServices ul{
  list-style: none;
  list-style-type: none; 
  padding: 0;
  margin: -20px auto;
}

.clientAccount a:hover,
.ourProducts a:hover,
.clientServices a:hover{
  text-decoration: underline;
}



.footerCopyright{
  max-width: 1920px;
  height: 62px;
  background-color: #68ae00;

  padding-top: 36px;
}

.footerCopyright__info{
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  margin: 0 auto;
}

.footerLinks{
  display: flex;
  justify-content: center;
  max-width: 1920px;
  height: 292px;
  background-color: #ffffff;
}

.footerLinks__picture{
  max-width: 887px;
  margin: 0 auto;
  padding-top: 12px;
}

.footerLinks__picture img{
  width: 100%;
}
