@font-face {
    font-family: "FB Spoiler";
    font-weight: 700;
    font-style: normal; 
    font-display: swap;
    src: url(../fonts/spoilerboldwebfont.ttf); 
   }

@font-face {
    font-family: "FB Spoiler";
    font-weight: 400;
    font-style: normal; 
    font-display: swap;
    src: url(../fonts/spoilerregularwebfont.ttf); 
   }


body {
  padding: 0;
  margin: 0 auto; 
  box-sizing: border-box;

  unicode-bidi: bidi-override;/* Меняются характеристики текста*/
  direction: rtl; /*Текст пишется справа налево*/

  font-family: "FB Spoiler";
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  color: #333333;

  background-color: #ebebeb;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 1, 0.2);
  max-width: 1920px;

  min-width: 320px;
}
  /*@media (min-width: 960px) {
    body {
      font-size: 18px;
      line-height: 30px; } }*/

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

/* ------------- Header  -------------*/
.upperNav{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background: #404040;
  height: 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  padding-right: 13.8%;
}
.upperNav a{
  color: #ffffff ;
}

.upperNav a:hover{
  text-decoration: underline;
}

.upperFaq{
  display: flex;
  justify-content: center;
  min-width: 270px;
  margin-top: 0px; 

  position: relative;
  top: 4px;
  left: 15px;
}

.upperFaq__item{
  display: flex;
  flex-direction: row-reverse;
  margin: auto 10px;
}

.upperFaq__item_alignPP{
  position: relative;
  top: -4px;
  left: 0px;
}

.upperContacts{
  display: flex;
  min-width: 170px;
  margin: 0px 87px;
}

.upperContacts__item{
    margin: auto 15px;
}

.autorization{
  display: flex;
  min-width: 170px;
  margin-top: 0px;

  position: relative;
  top: 0px;
  right: -26px;
}

.autorization__item{
  margin: auto 2px;
  padding-top: 5px;
  padding-right: 5px;
  width: 60px;
  height: 22px;
  background-color: #f98006;
  text-align: center;
}

.mainNav{
  display: flex;
  justify-content: flex-start;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  height: 80px;
}

.mainNav__logoWrapper{
  display: flex;
  justify-content: flex-end;
  width: 34.5%;
}

.mainNav__logo{
  margin:11px 0 5px 54px;
}

.mainNav__item{
  width: 133px;
  height: 42px;
  margin-right: 7px;
  margin-top: 25px;
  border: none;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  outline: none;

}

.mainNav__item:hover,
.mainNav__item:focus {
  background-color: #f2f2f2;
}

.mainNav__item:active{
  color: #f98006;
}

/*------------------Banner---------------------*/
.mainBanner{
  display: flex;
  justify-content: center;
  margin-top: 63px;
  height: 518px;
}

.mainBanner__picture{
  padding-left: 33px;
}

.mainBanner__aside{
  width: 318px; 
}

.mainBanner__aside button:hover{
  cursor: pointer;
}

.mainBanner__header{
  color: #68ae00;
  font-size: 60px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  padding-top: 15px;
}

.mainBanner__info{
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding-top: 33px;
}

.mainBanner__link1{
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  padding-top: 17px;
}

.mainBanner__link2{
  color: #f98006;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.mainBanner__link2 p{
  margin: 35px 53px 0 0; 
}

.mainBanner__link2 span{
  margin-right: 53px; 
}

.mainBanner__link1 button,
.mainBanner__link2 button{
  border: none;
  background: none;
}

.mainBanner__button{
width: 214px;
height: 51px;
background-color: #f98006;
color: #ffffff;
font-size: 23px;
font-weight: 700;
line-height: 18px;
white-space: nowrap;
margin-top: 69px;
margin-right: 46px;
}


/*----------------Sites gallery---------------*/
.siteExamples{
  min-width: 320px;
  color: #333333;
  margin: 0 auto;

  padding-bottom: 94px;
}

.siteExamples__wrapper{
  max-width: 940px;
  margin: 0 auto;
}

.siteExamples__header{
  font-size: 48px;
  font-weight: 700;
  line-height: 18px;
  margin: 0;
  margin-top: 39px;
}

.siteExamples__description{
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding-top: 28px;
}

.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap:  23px 20px;
  max-width: 940px;
  margin: 0 auto;
  padding-top: 42px;
}

.gallery__item_wrapper{
  width: 300px;
  height: 158px;
}
.gallery__item_wrapper img{
  width: 100%;
  /* height: 100%; */
}

/*Показываем 10 картинок вместо 15*/
@media (max-width: 400px) {
  .gallery__item_hidden{
    display: none;
}}

/*------------------Footer-------------------*/

.support{
  max-width: 1920px;
  height: 379px;
  background-image: url(../img/support_bg.png);
  background-repeat: no-repeat;
  padding-top: 70px;
}

.support__header{
  text-align: center;
  width: 230px;
  color: #68ae00;
  font-size: 48px;
  font-weight: 700;
  line-height: 18px;
  margin: 0 auto;
  padding-bottom: 9px;
}

.support__info{
  text-align: center;
  width: 520px;
  color: #333333;
  font-size: 30px;
  font-weight: 700;
  line-height: 18px;

  margin: 0 auto;
  margin-top: 25px; 
}

.support__menu{
  display: flex;
  justify-content: space-between;
  width: 850px;
  margin: 0 auto;
  margin-top: 25px;
}

.support__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #333333;
}

.support__item h3{
  font-size: 23px;
  font-weight: 700;
  line-height: 17.65px;
  margin: 0 auto;
  margin-top: 15px;
}

.support__item p{
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0 auto;
  margin-top: 2px;
}

/*-------------footerMenu-------------*/
.footerMenu{
  display: flex;
  justify-content: center;

  height: 328px;
  background-color: #43464a;
  margin: 0 auto;
  padding-top: 65px;
  padding-right: 84px;
}

.joinUs{
  width: 22.4%;
}

.clientAccount{
  width: 8.0%;
}

.ourProducts{
  width: 12.6%;
}

.clientServices{
  width: 12.6%;
}

.joinUs__header{
  color: #8cdd00;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.joinUs img{
  padding-left: 25px;
}

.clientAccount__header,
.ourProducts__header,
.clientServices__header{
  color: #8cdd00;
  font-size: 30px;
  font-weight: 700;  
}

.clientAccount a,
.ourProducts a,
.clientServices a{
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}

.clientAccount ul,
.ourProducts ul,
.clientServices ul{
  list-style: none;
  list-style-type: none; 
  padding: 0;
  margin: -20px auto;
}

.clientAccount a:hover,
.ourProducts a:hover,
.clientServices a:hover{
  text-decoration: underline;
}

.newsletter{
  padding-top: 10px;
}

.newsletter__header{
  color: #8cdd00;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding-top: 30px;
}

.newsletter__info{
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding-top: 10px;
}

.newsletter div{
  padding-top: 10px;
}

.newsletter__input{
  width: 266px;
  height: 39px;
  background-color: #ebebeb;
  color: #696969;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  padding: 0;
  border: none;
}

.newsletter__button{
  width: 75px;
  height: 39px;
  background-color: #68ae00;
  color: #ebebeb;
  font-size: 22px;
  font-weight: 700;
  line-height: 18px;
  padding: 0;
  border: none;
  position: relative;
  top: 2px;
  left: 2px;
}

.footerCopyright{
  max-width: 1920px;
  height: 62px;
  background-color: #68ae00;

  padding-top: 36px;
}

.footerCopyright__info{
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  margin: 0 auto;
}

.footerLinks{
  display: flex;
  justify-content: center;
  max-width: 1920px;
  height: 292px;
  background-color: #ffffff;
}

.footerLinks__picture{
  max-width: 887px;
  margin: 0 auto;
  padding-top: 12px;
}

.footerLinks__picture img{
  width: 100%;
}

 /* ------------------ mobile -------------------- */

.mobileNav{
  display: none;
}

.mobileNav__upper{
  min-width: 320px;
  height: 76px;
  display: flex;
  justify-content: space-between;
}

.mobileNav__logo{
  width: 90px;
  height: 47px;
}

.mobileNav__button{
  width: 32px;
  height: 24px;
  margin: 0;
  padding: 0;
  border: none;
}

.mobileNav__logoWrapper{
  padding-top: 10px;
  padding-right: 20px;
}

.mobileNav__buttonWrapper{
  padding-left: 20px;
  padding-top: 20px;
}

.mobileNav__main{
  min-width: 320px;
  height: 296px;
  background-image: url(../img/banner.png);
  text-align: center;
  color: #fefefe;
  font-size: 48px;
  font-weight: 700;
  line-height: 40px;
  padding-top: 20px;
}

.mobileNav__mainPrg1{
  margin: 0;
  padding: 0;
}

.mobileNav__mainPrg2{
  margin: 0;
  padding: 0;
}

.mobileNav__mainPrg3{
  font-size: 36px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 100px;
}

.mobileNav__mainSpn1{
  font-size: 137px;
  font-weight: 400;
}

.mobileNav__mainSpn2{
  font-size: 19px;
  font-weight: 700;
}

.mobileNav__mainSpn3{
  font-size: 36px;
  font-weight: 400;
}

.mobileNav__mainPrg4{
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  margin-top: -4px;
}

.mobileNav__buttonWrapper2{
  color: transparent;
  background-color: transparent;
  border: none;
}

.mobileFooter{
  display: none;
}

.mobileFooter__upper{
  min-width: 320px;
  height: 109px;
  background-color: #68ae00;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;

  padding-top: 35px;
}

.mobileFooter__upper p{
  margin: 0;
}

.mobileFooter__upperContactsWrapper{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.joinUsMobile{
  min-width: 290px;
  height: 347px;
  background-color: #43464a;
  text-align: center;
  color: #8cdd00;
  font-size: 30px;
  font-weight: 700;
  line-height: 19.7px;

  padding-top: 45px;
}

.joinUsMobile__header{
  margin: 0;
}

.joinUsMobile__links{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 50px;
}

.newsletterMobile__linkMainSite{
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: underline;
}

.newsletterMobile__linkMainSiteShelter{
  padding-top: 30px;
}

.newsletterMobile__input{
  width: 235px;
  height: 60px;
  background-color: #ffffff;
  color: #707070;
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
}

.newsletterMobile__button{
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #68ae00;
  border: 1px;
  margin: 0;
  margin-left: -5px; 
  padding: 0;
  top: 5px;
}

/*-------------make adjustable view ---------------*/
@media (max-width: 940px) {
  .mainBanner,
  .footerMenu,
  .support,
  .mainNav,
  .footerCopyright,
  .upperNav{
    display: none;
  }

  .siteExamples__header{
    font-size: 38px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    margin-top: 39px;
  }

  .siteExamples__description{
    font-size: 17px;
    font-weight: 400;
    margin: 0;
    padding-top: 8px;
  }

}

@media (max-width: 939px){
  .mobileNav,
  .mobileFooter{
    display: block;
  }
}

/* ---------------- pop-up form --------------*/
.mainContent{
  position: relative;
  overflow: hidden;
}

.popUpForm{
  display: none;
  position: absolute;
  top: 500px;
  /*left: 25%;*/
  left: -200px;
  width: 293px;
  height: 397px;
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;

  padding-top: 25px;
  padding-right: 10px;
}

.popUpForm__header{
  display: block;
  margin: 0 auto;
  width: 244px;
  height: 44px;
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.popUpForm__name,
.popUpForm__phone,
.popUpForm__email{
  margin: 0 auto;
  margin-top: 40px;  
  width: 267px;
  height: 34px;
  background-color: #ebebeb;
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;

  padding-right: 10px;
}

.popUpForm__button{
  margin-right: 10px;
  margin-top: 20px;
  width: 264px;
  height: 54px;
  background-color: #f98006;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 18px;
}

.popUpForm__popUp{
  display: block;
   animation: bounce 0.6s;
   /*transition: left 0.6s;*/
   left: 25%;
}

/* ------ немного анимации ---------*/
@keyframes bounce {
  0% {
    transform: translateX(-2000px);
  }

  70% {
    transform: translateX(30px);
  }

  90% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}



