@font-face {
    font-family: "FB Spoiler";
    font-weight: 700;
    font-style: normal; 
    font-display: swap;
    src: url(../fonts/spoilerboldwebfont.ttf); 
   }

@font-face {
    font-family: "FB Spoiler";
    font-weight: 400;
    font-style: normal; 
    font-display: swap;
    src: url(../fonts/spoilerregularwebfont.ttf); 
   }


body {
  padding: 0;
  margin: 0 auto; 
  box-sizing: border-box;

  unicode-bidi: bidi-override;/* Меняются характеристики текста*/
  direction: rtl; /*Текст пишется справа налево*/

  font-family: "FB Spoiler";
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  color: #333333;

  background-color: #ebebeb;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 1, 0.2);
  max-width: 1920px;

  min-width: 320px;
}
  /*@media (min-width: 960px) {
    body {
      font-size: 18px;
      line-height: 30px; } }*/

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

/* ------------- Header  -------------*/
.upperNav{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background: #404040;
  height: 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.upperNav a{
  color: #ffffff ;
}

.upperNav a:hover{
  text-decoration: underline;
}

.upperFaq{
  display: flex;
  justify-content: center;
  min-width: 270px;
  margin-top: 0px; 

  position: relative;
  top: 4px;
  left: 15px;
}

.upperFaq__item{
  display: flex;
  flex-direction: row-reverse;
  margin: auto 10px;
}

.upperFaq__item_alignPP{
  position: relative;
  top: -4px;
  left: 0px;
}

.upperContacts{
  display: flex;
  min-width: 170px;
  margin: 0px 87px;
}

.upperContacts__item{
    margin: auto 15px;
}

.autorization{
  display: flex;
  min-width: 170px;
  margin-top: 0px;

  position: relative;
  top: 0px;
  right: -26px;
}

.autorization__item{
  margin: auto 2px;
  padding-top: 5px;
  padding-right: 5px;
  width: 60px;
  height: 22px;
  background-color: #f98006;
  text-align: center;
}

.mainNav{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  height: 80px;
}

.mainNav__item{
  margin: auto 40px;
  border: none;
  background-color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  outline: none;
}

.mainNav__item:hover,
.mainNav__item:active,
.mainNav__item:focus {
  background-color: #f2f2f2;
}


/*------------------Баннер---------------------*/
.mainBanner{
  display: flex;
  justify-content: center;
  margin: 60px 30px;
}

.mainBanner__aside{
  width: 300px; 
  margin-right: 30px;

}

.mainBanner__header{
  color: #68ae00;
  font-size: 60px;
  font-weight: 700;
  line-height: 18px;
}

.mainBanner__info{
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.mainBanner__link1{
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
}

.mainBanner__link1 button,
.mainBanner__link2 button{
  border: none;
}

.mainBanner__button{
width: 214px;
height: 51px;
background-color: #f98006;
color: #ffffff;
font-size: 30px;
font-weight: 700;
line-height: 18px;
white-space: nowrap;
}

/*----------------Галерея сайтов---------------*/
.siteExamples{
  min-width: 320px;
  color: #333333;
  margin: 0 auto;
}

.siteExamples__wrapper{
  max-width: 1010px;
  margin: 0 auto;
}

.siteExamples__header{
  font-size: 48px;
  font-weight: 700;
  line-height: 18px;
}

.siteExamples__description{
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 20px;
  max-width: 1010px;
  margin: 0 auto;
}

.gallery__item_wrapper{
  width: 300px;
  height: 158px;
}
.gallery__item_wrapper img{
  width: 100%;
  /* height: 100%; */
}

@media (max-width: 400px) {
  .gallery__item_hidden{
    display: none;
}}

